.format{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.home{
    background-color: aliceblue;
    padding:10% 0;
    width: 100vw;
  
}

.gallery{
    background-color: rgba(169, 199, 226, 0.367);
    width: 100vw;
  
}
.menu{
    background-color: rgba(73, 139, 198, 0.367);
}

#images{
    display: flex;
    align-self: baseline;   
    height: 10%; 

}

#image{
    width: 30vw;
    padding: 8px;
}

#list{
    align-self: baseline;
    
}
